#container {
    position: relative;
    width: 600px;
    height: 300px;
}

canvas {
    border: solid 1px;
    /* background: #000; */
    position: relative;
    top: 0px;
    left: 0px;
}
#scoreboard {
    /* background: rebeccapurple; */
    text-transform: uppercase;
    color:#fff;
    width: 400px;
    position: relative;
    left: 430px;
    bottom:305px;
    font-family: 'Courier New', Courier, monospace;
}
#scoreboard input{
    width: 100px;
    font-size:24px;
    font-family: 'Courier New', Courier, monospace;
}